/* .background-tint {
  background-color: rgba(0, 0, 0, 0.5); // Tint color
  background-blend-mode: multiply;
} */

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #fcf8f3;
}

.bg-light {
	/* background-color: rgba(201,116,41, 0.4) !important; */
	background-color: #c9742975 !important;
}

.navbar-light .navbar-nav .nav-link {
	color: #bdb2b2;
}

.navbar-light .navbar-brand {
	color: #ffeb99;
}

.btn-light:hover {
	color: #f8f9fa;
	background-color: #212529;
	border-color: #212529;
}

body {
	background-image: radial-gradient(#00000085, #00000085),
		url(https://images.unsplash.com/photo-1513360371669-4adf3dd7dff8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
	/* Full height */
	/* height: 100%; */
	/* Center and scale the image nicely */
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 5rem;
	padding: 1rem;
	text-shadow: 2px 2px 2px black;
}

h5 {
	font-weight: 400;
	text-shadow: 1px 1px 1px black;
}

html {
	height: 100%;
}

.my-settings {
	text-align: center;
	padding-top: 20%;
	color: white;
}

.my-settings hr {
	width: 27%;
	/* color: white */
	border-top: 1px solid white;
	border-bottom: 1px solid gray;
	/* border-bottom: 0.1px solid black; */
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.col-lg-12{
  padding-bottom: 143px;
}
